a-scene {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1 !important;
}

body {
      margin: 0;
      overflow: hidden;
      font-family: Arial, sans-serif;
    }

    /* Contenedor general de la UI */
    #hud {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none; /* deja pasar eventos a AR */
      z-index: 10;
    }

    .panel {
      pointer-events: auto;
      position: absolute;
      padding: 10px 16px;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      text-align: center;
      border-radius: 8px; /* Pa hacerlo mas bonico hehe */
      font-size: 14px;
      transition: 
        top 0.3s ease,
        bottom 0.3s ease,
        left 0.3s ease,
        right 0.3s ease,
        width 0.3s ease,
        height 0.3s ease,
        color 0.3s ease;
        z-index: 9999;
    }

    .arriba {
      min-width: 60%;
      max-width: 90%;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    .abajo {
      min-width: 60%;
      max-width: 90%;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    /* Para hacer que el HUD no se muestre cuando no haya ningun barcode apuntado */
    .invisible {
        pointer-events: none;
        background: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
    }

    .izquierda {
        min-width: 20%;
        max-width: 30%;
        left: 10px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .derecha {
        min-width: 20%;
        max-width: 30%;
        right: 10px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #hud.fullscreen {
      background: rgba(0, 0, 0, 0.7);
      transition: color 0.3s ease;
    }

    .panel.abajo.fullscreen {
    top: 0;
    bottom: 0;
    height: 100%;
    }

  @media screen and (orientation: portrait){
    .panel.fullscreen {
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding: 20px;
      background: rgba(0, 0, 0, 0);
    }
  }

  @media screen and (orientation: landscape){
    .panel.fullscreen {
      top: 31.5%;
      bottom: 0;
      width: 1080;
      height: 1920;
      border-radius: 0;
      padding: 20px;
      background: rgba(0, 0, 0, 0);
    }

    .panel.fullscreen.derecha {
      right: 31.5%;
    }

    .panel.fullscreen.izquierda {
      left: 31.5%;
    }

  } 