a-scene {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1 !important;
}

#datos-top,
#datos-bot {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    margin-left: 25%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-size: 24px;
    word-wrap: break-word;
    width:50%;
    max-height:30%;
}

#datos-top{
    top: 10px;
}

#datos-bot{
    bottom: 10px;
}